$background-image: "./images/world-1.1.jpg";
$font: 'Press Start 2P', cursive;

$beige-color: #FFF0CD;
$background-color: $beige-color;
$blue-black: #00163F;
$dark-blue: #144673;
$red: #E33201;
$white: whitesmoke;
$black: black;
$orange: #FF9210;